build/
cmake-build-*/
out/
bin/
obj/
Debug/
Release/
x64/
x86/
.vs/
*.sln
*.vcxproj*
*.user
*.opendb
*.VC.db

.idea/
*.iml

CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake_install.cmake

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

*.exe
*.dll
*.so
*.dylib
